.todo {
	align-content: center;
	align-items: center;
	align-self: stretch;
	border: 1px solid #000;
	display: grid;
	grid-template-columns: auto 1em 1fr;
	grid-template-rows: auto 1em;
	justify-items: start;
	padding: .5em;
}

.todo .description {
	background-color: #ddd;
	grid-column: 3;
	margin: 0;
	padding: .5em;
	width: calc(100% - 2 * .5em);
}

.todo .creation {
	color: #333;
	grid-column: 3;
	grid-row: 2;
	font-size: .6em;
}

.todo.completed {
	text-decoration: line-through;
}
